@model IList<OrderViewModel>
<div class="card">
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">OrderId</th>
                    <th scope="col">Customer Details</th>
                    <th scope="col">Handled By</th>
                    <th scope="col">TotalCost</th>
                    <th scope="col">ModeOfPayment</th>
                    <th scope="col">Courier</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    ViewBag.Id = i;
                    <tr>
                        <td>
                            @Model[i].OrderId
                        </td>
                        <td>
                            @Model[i].Customer.CustomerName
                        </td>
                        <td>
                            @if (Model[i].Employee.FirstName == null)
                            {
                                <p>None</p>
                            }
                            else
                            {
                                <p>@Model[i].Employee.FirstName</p>
                            }
                        </td>
                        <td>
                            @Model[i].TotalCost
                        </td>
                        <td>
                            @Model[i].ModeOfPayment
                        </td>
                        <td>
                            @Model[i].Courier
                        </td>
                        <td>
                            @Model[i].Status
                        </td>
                        <td><button type="button" class="btn btn-gold" data-toggle="modal"
                            data-target="#exampleModalScrollable_@ViewBag.Id">
                                View Order Details
                            </button></td>
                    </tr>
                    @await Html.PartialAsync("OrderDetailsPartial", Model[i])                 
                }
            </tbody>
        </table>
    </div>
</div>
