@model IList<OrderViewModel>
@using FlameAndWax.Data.Constants
<div class="card">
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">OrderId</th>
                    <th scope="col">Customer Details</th>
                    <th scope="col">Handled By</th>
                    <th scope="col">TotalCost</th>
                    <th scope="col">ModeOfPayment</th>
                    <th scope="col">Courier</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>
                            @Model[i].OrderId
                        </td>
                        <td>
                            @Model[i].Customer.CustomerName
                        </td>
                        <td>
                            @if (Model[i].Employee.FirstName == null)
                            {
                                <p>None</p>
                            }
                            else
                            {
                                <p>@Model[i].Employee.FirstName</p>
                            }
                        </td>
                        <td>
                            @Model[i].TotalCost
                        </td>
                        <td>
                            @Model[i].ModeOfPayment
                        </td>
                        <td>
                            @Model[i].Courier
                        </td>
                        <td>
                            @Model[i].Status
                        </td>
                        <td><button type="button" class="btn btn-gold" data-toggle="modal"
                            data-target="#exampleModalScrollable_@i">
                                View Order Details
                            </button></td>
                    </tr>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalScrollable_@i" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    @{
                                        var customerImageLink = Constants.BASE_URL_API_IMAGES + Model[i].Customer.ProfilePictureLink;
                                    }
                                    <div class="d-flex flex-row">
                                        <div class="my-auto">
                                            <img src="@Url.Content(customerImageLink)" class="circle"/>
                                        </div>
                                        <div class="d-flex flex-column ml-1">
                                            <div class="my-auto">
                                                <h5 class="my-auto" id="exampleModalScrollableTitle"><strong>Name: </strong>
                                                                                        @Model[i].Customer.CustomerName</h5>    
                                            </div>
                                            <div class="my-auto">
                                                <h5 class="my-auto" id="exampleModalScrollableTitle"><strong>Total Orders:</strong>
                                                                                        @Model[i].OrderDetails.Count()</h5>    
                                            </div>
                                        </div>                                       
                                    </div>                                               
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                    @foreach (var orderDetail in Model[i].OrderDetails)
                                    {                                    
                                        var productImageLink = Constants.BASE_URL_API_IMAGES + orderDetail.Product.PictureLink;                                      
                                           <div class="col-lg-6 col-md-12">
                                                <div class="card mb-3" style="max-width: 540px;">
                                                    <div class="row no-gutters">
                                                        <div class="col-md-4">
                                                            <img src="@Url.Content(productImageLink)" class="card-img" alt="...">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="card-body">
                                                                <h5 class="card-title"><strong>ProductName:</strong> @orderDetail.Product.ProductName</h5>
                                                                <h5 class="card-title"><strong>Price:</strong> @orderDetail.Product.ProductPrice</h5> 
                                                                <h5 class="card-title"><strong>Quantity:</strong> @orderDetail.Quantity</h5>
                                                                <h5 class="card-title"><strong>Total Price:</strong> @orderDetail.TotalPrice</h5>                                                      
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                       </div>
                                    }
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <h5 class="card-title  my-auto">Total Cost: @Model[i].TotalCost</h5>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </tbody>
        </table>
    </div>
</div>
