@model IEnumerable<OrderViewModel>
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">OrderId</th>
                    <th scope="col">Customer Details</th>
                    <th scope="col">Handled By</th>
                    <th scope="col">TotalCost</th>
                    <th scope="col">ModeOfPayment</th>
                    <th scope="col">Courier</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.OrderId
                        </td>
                        <td>
                            @item.Customer
                        </td>
                        <td>
                            @item.Employee
                        </td>
                        <td>
                            @item.TotalCost
                        </td>
                        <td>
                            @item.ModeOfPayment
                        </td>
                        <td>
                            @item.Courier
                        </td>
                        <td>
                            @item.Status
                        </td>
                        <td>
                            <a class="btn btn-success" href="#">Change Status</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>