@using static FlameAndWax.Data.Constants.Constants;
@using FlameAndWax.Models
@model CartViewModel;
@{
    ViewData["Title"] = "Cart";
    double totalCartValue = 0.0f;
    var userLoggedIn = User.Claims.FirstOrDefault(user => user.Type == ClaimTypes.Name).Value;
    var cartItemsCount = Cart.GetCartItemsCount(userLoggedIn);
}
<a class="btn btn-gold" asp-action="RefreshCart" asp-controller="Cart" data-ajax="true" data-ajax-update="#tableCart"
    data-ajax-loading="#overlayLoadingDiv">
    Refresh Cart <i class="fas fa-sync"></i>
</a>
<form method="post" asp-controller="Cart" asp-action="CartSummary" id="CartForm">
</form>
<div class="row">
    <div class="col-lg-8 col-md-12 pt-2">
        <div class="card">
            <table class="table table-hover table-responsive text-center">
                <thead>
                    <tr>
                        <th style="width:45%;">Picture</th>
                        <th style="width:15%;">Product Id</th>
                        <th style="width:15%;">Price</th>
                        <th style="width:15%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        for (int i = 0; i < Model.CartProducts.Count(); i++)
                        {
                            <tr>
                                <td style="vertical-align:middle;">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-12">
                                            <img src="@Url.Content(Model.CartProducts[i].PhotoLink)" class="img-thumbnail" />
                                        </div>
                                        <div class="col-lg-6 col-sm-12 my-auto text-left">

                                            <p><strong>@Model.CartProducts[i].ProductName</strong></p>
                                            <hr />
                                            <p>
                                                <strong>Quantity per Unit: </strong>
                                                <input type="number" form="CartForm" readonly
                                            asp-for="@Model.CartProducts[i].QuantityOrdered" min="1" max="50"
                                            class="form-control" />
                                                <input type="hidden" form="CartForm"
                                            asp-for="@Model.CartProducts[i].ProductId" />
                                                <input type="hidden" form="CartForm"
                                            asp-for="@Model.CartProducts[i].ProductName" />
                                                <input type="hidden" form="CartForm"
                                            asp-for="@Model.CartProducts[i].PhotoLink" />
                                                <input type="hidden" form="CartForm"
                                            asp-for="@Model.CartProducts[i].ProductSubTotalPrice" />
                                                <input type="hidden" form="CartForm"
                                            asp-for="@Model.CartProducts[i].ProductDescription" />
                                                <input type="hidden" form="CartForm"
                                            asp-for="@Model.CartProducts[i].QuantityOrdered" />
                                            </p>
                                            <a class="btn btn-danger" asp-controller="Cart" asp-action="DecrementProductCount"
                                        asp-route-productId="@Model.CartProducts[i].ProductId" data-ajax="true"
                                        data-ajax-update="#tableCart" data-ajax-loading="#overlayLoadingDiv"><i
                                                class="fas fa-minus-circle"></i></a>
                                            <a class="btn btn-success" asp-controller="Cart" asp-action="IncrementProductCount"
                                        asp-route-productId="@Model.CartProducts[i].ProductId" data-ajax="true"
                                        data-ajax-update="#tableCart" data-ajax-loading="#overlayLoadingDiv"
                                        data-ajax-failure="errorCartIncrement"><i class="fas fa-plus-circle"></i></a>
                                            <p><strong>Units in Stock: </strong>@Model.CartProducts[i].StockQuantity</p>
                                        </div>
                                    </div>

                                </td>
                                <td style="vertical-align:middle;">@Model.CartProducts[i].ProductId</td>
                                <td style="vertical-align:middle;">@Model.CartProducts[i].ProductSubTotalPrice</td>
                                <td style="vertical-align:middle;">
                                    <a class="btn btn-gold btn-block" asp-action="DeleteCartItem" asp-controller="Cart"
                                asp-route-productId="@Model.CartProducts[i].ProductId" data-ajax="true"
                                data-ajax-update="#tableCart" data-ajax-loading="#overlayLoadingDiv"
                                data-ajax-complete="negateTotalNumberOfCart" id="deleteCartItem">
                                        Delete <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @if (Model.CartProducts.Count() == 0)
            {
                <div class="mx-auto">
                    <div class="row">
                        <lottie-player src="https://assets3.lottiefiles.com/temp/lf20_Celp8h.json" background="transparent"
                        speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="col-lg-4 col-md-12 pt-2">
        <div class="card p-2">
            <div class="card-header">
                <h3>Order Summary</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    @foreach (var product in Model.CartProducts)
                    {
                        <div class="col-6">
                            <p><strong>@product.ProductName</strong></p>
                        </div>
                        <div class="col-6">
                            <p><strong>@product.ProductSubTotalPrice</strong></p>
                        </div>

                        totalCartValue += product.ProductSubTotalPrice;
                    }

                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <p><strong>SHIPPING <span class="badge badge-pill badge-dark"><i
                                    class="fas fa-shipping-fast"></i></span></strong></p>
                </div>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <select class="custom-select" id="inputGroupSelect02" form="CartForm" asp-for="@Model.Courier">
                            <option selected>Choose...</option>
                            <option value="@Courier.FoodPanda">@nameof(Courier.FoodPanda)</option>
                            <option value="@Courier.JNT">@nameof(Courier.JNT)</option>
                            <option value="@Courier.NinjaVan">@nameof(Courier.NinjaVan)</option>
                            <option value="@Courier.GogoExpress">
                                @nameof(Courier.GogoExpress)
                            </option>
                        </select>
                        <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02">Options</label>
                        </div>
                    </div>
                </div>

                @await Html.PartialAsync("PaymentOptionsPartial", Model)

                <hr />
                <div class="row">
                    <div class="col-6">
                        <p><strong>TOTAL COST <i class="fas fa-receipt"></i></strong></p>
                    </div>
                    <div class="col-6">
                        <p><strong>PHP @totalCartValue</strong></p>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" form="CartForm" id="cartComplete"
                        onclick="return checkIfCartHasItems(@cartItemsCount);" class="btn btn-gold btn-block">Submit <i
                            class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
