@model FlameAndWax.Models.CartSummaryViewModel;
@{
    ViewData["Title"] = "Order Summary";
}
<form asp-controller="Cart" asp-action="FinalizeCheckout" id="CartSubmit"
      data-ajax="true" data-ajax-update="#tableCart"
      data-ajax-loading="#overlayLoadingDiv" data-ajax-complete="cartComplete">
    <input type="hidden" asp-for="@Model.ModeOfPayment">
    <input type="hidden" asp-for="@Model.Courier">
</form>
<div class="container">
    <h3>Order Summary</h3>
    <hr />
    <h4>Products</h4>
    <div class="card mb-4">
        <ul class="list-group list-group-flush">
            @{
                var count = 0;
            }
            @foreach (var item in Model.CartProducts)
            {
                count++;
                <li class="list-group-item">@count) @item.ProductName [@item.QuantityOrdered x]</li>
            }

        </ul>
    </div>
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Mode Of Payment:</b> @Model.ModeOfPayment.ToString()</li>
            <li class="list-group-item"><b>Courier:</b> @Model.Courier.ToString()</li>
            <li class="list-group-item"><b>Total Cost:</b> @Model.TotalCost</li>
        </ul>
    </div>
    <hr />
    <h4>Finalize Cart</h4>
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <button class="btn btn-gold" form="CartSubmit" type="submit">Checkout</button>
                <button class="btn btn-gold">Cancel</button>
            </li>
        </ul>
    </div>
</div>