@model IEnumerable<FlameAndWax.Models.ProductViewModel>;
@using FlameAndWax.Data.Constants
@{
    ViewData["Title"] = "Cart";
    double totalCartValue = 0.0f;
}

<div class="row">
    <div class="col-lg-8 col-md-12 pt-2">        
        <div class="card">
            <div id="overlayDiv" style="display:none;">
                <lottie-player src="https://assets7.lottiefiles.com/datafiles/ORpUnaV6z0mJ17E/data.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
            </div>
            <table class="table table-hover table-responsive text-center">
                <thead>
                    <tr>
                        <th style="width:45%;">Picture</th>
                        <th style="width:15%;">Product Id</th>
                        <th style="width:15%;">Price</th>
                        <th style="width:15%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td style="vertical-align:middle;">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="@Url.Content(product.PhotoLink)" class="img-thumbnail" />
                                    </div>
                                    <div class="col-6 my-auto text-left">

                                        <p><strong>@product.ProductName</strong></p>
                                        <p><strong>Quantity per Unit: </strong>@product.QuantityPerUnit</p>
                                        <p><strong>Units in Stock: </strong>@product.StockQuantity</p>
                                        <p><strong>Qty: 5</strong></p>
                                    </div>
                                </div>

                            </td>
                            <td style="vertical-align:middle;">@product.ProductId</td>
                            <td style="vertical-align:middle;">@product.ProductPrice</td>
                            <td style="vertical-align:middle;">
                                <a class="btn btn-gold btn-block"
                                   asp-action="DeleteCartItem"
                                   asp-controller="Cart"
                                   asp-route-productId="@product.ProductId"
                                   data-ajax="true" data-ajax-update="#tableCart" data-ajax-loading="#overlayDiv">
                                    Delete <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (Model.Count() == 0)
            {
                <div class="mx-auto">
                    <div class="row">
                        <lottie-player src="https://assets3.lottiefiles.com/temp/lf20_Celp8h.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="col-lg-4 col-md-12 pt-2">
        <div class="card p-2">
            <div class="card-header">
                <h3>Order Summary</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    @foreach (var product in Model)
                    {
                        <div class="col-6">
                            <p><strong>@product.ProductName</strong></p>
                        </div>
                        <div class="col-6">
                            <p><strong>@product.ProductPrice</strong></p>
                        </div>

                        totalCartValue += product.ProductPrice;
                    }

                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <p><strong>SHIPPING</strong></p>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <select class="custom-select" id="inputGroupSelect02">
                            <option selected>Choose...</option>
                            <option value="@Constants.Courier.FoodPanda">@nameof(Constants.Courier.FoodPanda)</option>
                            <option value="@Constants.Courier.JNT">@nameof(Constants.Courier.JNT)</option>
                            <option value="@Constants.Courier.NinjaVan">@nameof(Constants.Courier.NinjaVan)</option>
                            <option value="@Constants.Courier.GogoExpress">@nameof(Constants.Courier.GogoExpress)</option>
                        </select>
                        <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02">Options</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p><strong>TOTAL COST</strong></p>
                    </div>
                    <div class="col-6">
                        <p><strong>PHP @totalCartValue</strong></p>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-gold btn-block">CHECKOUT <i class="fas fa-money-check-alt"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>