@model FlameAndWax.Models.CartSummaryViewModel;
@{
    ViewData["Title"] = "Order Summary";
}
<form asp-controller="Cart" asp-action="FinalizeCheckout" id="CartSubmit" data-ajax="true" data-ajax-update="#tableCart"
    data-ajax-loading="#overlayLoadingDiv" data-ajax-complete="cartComplete">
    <input type="hidden" asp-for="@Model.ModeOfPayment">
    <input type="hidden" asp-for="@Model.Courier">
</form>
<div class="container">
    <h3>Order Summary</h3>
    <hr />
    <h4>Products</h4>
    <div class="card mb-4">
        <ul class="list-group list-group-flush">
            @{
                var count = 0;
            }
            @foreach (var item in Model.CartProducts)
            {
                count++;
                <li class="list-group-item">@count) @item.ProductName [@item.QuantityOrdered x]</li>
            }

        </ul>
    </div>
    @{
        var paymentInstructions = "";
        switch (Model.ModeOfPayment)
        {
            case Constants.ModeOfPayment.GCash:
                paymentInstructions = Constants.GCASH_PAYMENT_DETAILS;
                break;
        }
    }
    <h4>Payment Instructions</h4>
    <div class="card mb-4">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@paymentInstructions</li>
        </ul>
    </div>
    <h4>Shipping Address</h4>
    <div class="card mb-4">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Full Address: </b>@Model.ShippingAddress.Address.</li>
            <li class="list-group-item"><b>Postal Code: </b>@Model.ShippingAddress.PostalCode</li>
            <li class="list-group-item"><b>City: </b>@Model.ShippingAddress.City</li>
            <li class="list-group-item"><b>Region: </b>@Model.ShippingAddress.Region</li>
            <li class="list-group-item"><b>Country: </b>@Model.ShippingAddress.Country</li>
        </ul>
    </div>
    <h4>Summary</h4>
    <div class="card mb-4">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Mode Of Payment:</b> @Model.ModeOfPayment</li>
            <li class="list-group-item"><b>Courier Type:</b> @Model.Courier</li>
            <li class="list-group-item"><b>Payment Type:</b> @Model.ModeOfPayment</li>
            <li class="list-group-item"><b>Total Cost:</b> @Model.TotalCost</li>
        </ul>
    </div>
    <hr />
    <h4>Finalize Cart</h4>
    <button class="btn btn-gold" form="CartSubmit" type="submit">Checkout <i class="fas fa-paper-plane"></i></button>
    <button class="btn btn-gold">Cancel <i class="fas fa-ban"></i></button>

</div>