@using FlameAndWax.Models
@using FlameAndWax.Data.Constants
@model IEnumerable<ProductViewModel>;

@{
    ViewData["Title"] = "Cart";
    double totalCartValue = 0.0f;
}

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8 pt-2">
                <div class="card">
                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th style="width:33%;">Picture</th>
                                <th style="width:33%;">Product Id</th>
                                <th style="width:33%;">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="@Url.Content(product.PhotoLink)" class="img-thumbnail" />
                                    </td>
                                    <td>@product.ProductId</td>
                                    <td>@product.ProductPrice</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4 pt-2">
                <div class="card p-2">
                    <div class="card-header">
                        <h3>Order Summary</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @foreach (var product in Model)
                            {
                                <div class="col-6">
                                    <p><strong>@product.ProductName</strong></p>
                                </div>
                                <div class="col-6">
                                    <p><strong>@product.ProductPrice</strong></p>
                                </div>
                               
                                totalCartValue += product.ProductPrice;                                
                            }

                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <p><strong>SHIPPING</strong></p>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <select class="custom-select" id="inputGroupSelect02">
                                    <option selected>Choose...</option>
                                    <option value="@Constants.Courier.FoodPanda">@nameof(Constants.Courier.FoodPanda)</option>
                                    <option value="@Constants.Courier.JNT">@nameof(Constants.Courier.JNT)</option>
                                </select>
                                <div class="input-group-append">
                                    <label class="input-group-text" for="inputGroupSelect02">Options</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p><strong>TOTAL COST</strong></p>
                            </div>
                            <div class="col-6">
                                <p><strong>PHP @totalCartValue</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn btn-gold btn-block">CHECKOUT <i class="fas fa-money-check-alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>