@model IEnumerable<ProductViewModel>;


@if (Model.Count() == 0)
{
    <div class="row">
        <div class="mx-auto">
            <div class="col-12">
                <lottie-player src="https://assets3.lottiefiles.com/temp/lf20_Celp8h.json" background="transparent"
                speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
            </div>
        </div>
    </div>
}
@{
    var totalCount = (int)ViewData["ProductCount"];
    var category = ViewData["ProductCategory"];
}
<div class="row mt-2">
    <div class="col-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @for (int i = 1; i <= totalCount; i++)
                {
                    <li class="page-item"><a class="page-link" asp-controller="Products" asp-route-category="@category"
                        asp-action="PageProducts" asp-route-pageNumber="@i" data-ajax="true" data-ajax-loading="#loader"
                        data-ajax-update="#content" data-ajax-success="scrollUp">@i</a></li>
                }
            </ul>
        </nav>
    </div>
</div>

<div class="row" id="productCards" style="display: none;">    
    @foreach (var product in Model)
    {
        <div class="col-md-6 col-lg-4 p-1">
            <div class="card">
                @if (product.PhotoLink.Length == 0)
                {
                    <img class="card-img-top" src="~/images/empty_image.png" style="height:200px;" alt="Card image cap" />
                }
                else
                {

                    <img src="@Url.Content(product.PhotoLink)" class="topCommentProduct card-img-top">
                }
                <div class="card-body">
                    <h5 class="card-title">@product.ProductName</h5>
                    <p class="card-text p-semi">@product.ProductDescription</p>
                    <table class="text-left">
                        <tbody>
                            <tr>
                                <td><strong>Price:</strong></td>
                                <td class="float-right">₱@product.ProductSubTotalPrice</td>
                            </tr>
                            <tr>
                                <td><strong>Quantity per Unit:</strong></td>
                                <td class="float-right">@product.QuantityPerUnit</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                    <h5 class="card-title"><strong>Stocks </strong>@product.StockQuantity</h5>
                    <a class="btn btn-gold btn-sm" asp-route-productId="@product.ProductId" asp-action="Details"
                    asp-controller="Products">
                        See More <i class="fas fa-info-circle"></i>
                    </a>
                    <a class="btn btn-gold btn-sm" asp-route-_productId="@product.ProductId" asp-action="AddToCart"
                    asp-controller="Products" data-ajax="true" id="addtoCartBtn" data-ajax-loading="#cartLoading"
                    data-ajax-success="updateAddToCartTotalCount" data-ajax-complete="addToCart">
                        Add <i class="fas fa-cart-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    }

</div>
<div class="row mt-2">
    <div class="col-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @for (int i = 1; i <= totalCount; i++)
                {
                    <li class="page-item"><a class="page-link" asp-controller="Products" asp-route-category="@category"
                        asp-action="PageProducts" asp-route-pageNumber="@i" data-ajax="true" data-ajax-loading="#loader"
                        data-ajax-update="#content" data-ajax-success="scrollUp">@i</a></li>
                }
            </ul>
        </nav>
    </div>
</div>
