@model FlameAndWax.Models.ProductDetailViewModel;

<div class="container">
    <div class="jumbotron" style="background-color:#e4e2da;">
        <div class="row">
            <div class="col-12">
                <h2><strong>@Model.CustomerReviews.Count() Reviews</strong></h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <div class="card shadow-lg">
                    @if (Model.PhotoLink.Length == 0)
                    {
                        <img src="~/images/empty_image.png" class="card-img-top p-1" alt="Responsive image" />
                    }
                    else
                    {
                        <img src="@Url.Content(Model.PhotoLink)" class="card-img-top p-1" alt="Responsive image">
                    }
                </div>
            </div>            
            <div class="col-md-4">
                <h4><strong>@Model.ProductName</strong></h4>
                <hr />
                <p><strong>ProductId</strong></p>
                <p class="tab">@Model.ProductId</p>

                <p><strong>Price</strong></p>
                <p class="tab">@Model.ProductPrice</p>

                <p><strong>Unit Price</strong></p>
                <p class="tab">@Model.UnitPrice</p>

                <p><strong>Unit Stock</strong></p>
                <p class="tab">@Model.UnitsInStock</p>

                <p><strong>Product Description</strong></p>
                <p class="tab">@Model.ProductDescription</p>
            </div>
        </div>
    </div>
    <div class="col-12">
        @if (Model.CustomerReviews.Count() == 0)
        {
            <h1>There are no reviews found!</h1>
        }
        @foreach (var review in Model.CustomerReviews)
        {
            <div class="card">
                <div class="card-body">
                    <p>@review.ReviewDetail</p>
                    <p>@review.ReviewScore</p>
                    <p>@review.Customer.CustomerName</p>
                    <p>@review.ReviewScore.ToString()</p>
                    <p>@review.ReviewScore.ToString()</p>
                </div>
            </div>
        }

    </div>
</div>