@model FlameAndWax.Models.ProductDetailViewModel;

<div class="container">
    <div class="jumbotron" style="background-color:#e4e2da;">
        <div class="row">
            <div class="col-md-8">
                <div class="card shadow-lg">
                    @if (Model.PhotoLink.Length == 0)
                    {
                        <img src="~/images/empty_image.png" class="card-img-top p-1" alt="Responsive image" />
                    }
                    else
                    {
                        <img src="@Url.Content(Model.PhotoLink)" class="card-img-top p-1" alt="Responsive image">
                    }
                </div>
            </div>
            <div class="col-md-4">
                <h4><strong>@Model.ProductName</strong></h4>
                <p><strong>Product Id: @Model.ProductId</strong></p>
                <hr />
                <table class="table table-responsive table-bordered text-center">
                    <thead class="thead-light">
                        <tr>
                            <td><p><strong>Unit Price</strong></p></td>
                            <td><p><strong>Price</strong></p></td>
                            <td><p><strong>Unit Stock</strong></p></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p class="tab">@Model.UnitPrice</p></td>
                            <td><p class="tab">@Model.ProductPrice</p></td>
                            <td><p class="tab">@Model.UnitsInStock</p></td>
                        </tr>
                    </tbody>
                </table>
                <p><strong>Description</strong></p>
                <p>@Model.ProductDescription</p>
                <a class="btn btn-gold btn-block" asp-route-productId="@Model.ProductId" asp-action="AddToCart" asp-controller="Products">Add To Cart</a>
            </div>
        </div>
        <hr />       
            <div class="row">
                <div class="col-6">
                    <h4>Ratings and Reviews</h4>
                    <h6>Total of 6 Reviews</h6>
                </div>
            </div>
            @for (int i = 0; i < 5; i++)
            {
                <div class="row pb-1">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row pl-1 pr-1">
                                    <p>Customer Name Here</p>
                                    <p class="ml-auto">@DateTime.Now</p>
                                </div>                                
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>                                  
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            }        
    </div>
</div>