@model IEnumerable<FlameAndWax.Models.ProductViewModel>;
@{
    ViewData["Title"] = "Products";
}
<div class="container">
    <div class="row">
        <div class="container">
            <h2>@ViewData["Title"]</h2>
            <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-md-4 col-sm-12 p-3 ">
                        <div class="card shadow-lg">
                            @if (product.PhotoLink.Length == 0)
                            {
                                <img class="card-img-top" src="~/images/empty_image.png" style="height:200px;" alt="Card image cap" />
                            }
                            else
                            {
                                <img class="card-img-top" src="@Url.Content(product.PhotoLink)" style="height: 200px;" alt="Card image cap">
                            }
                            <div class="card-body">
                                <h5 class="card-title">@product.ProductName</h5>
                                <p class="card-text">@product.ProductDescription</p>
                                <h5 class="card-title"><strong>PHP</strong>@product.ProductPrice</h5>                                
                                <a class="btn btn-gold btn-sm"                                  
                                        asp-route-productId ="@product.ProductId"
                                        asp-action="Details"
                                        asp-controller="Products">
                                See More
                                </a>                                
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>