@model IEnumerable<FlameAndWax.Models.ProductViewModel>;


@if (Model.Count() == 0)
{
    <div class="mx-auto">
        <div class="row">
            <lottie-player src="https://assets3.lottiefiles.com/temp/lf20_Celp8h.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
        </div>
    </div>

}
@foreach (var product in Model)
{

    <div class=" col-md-6 col-lg-4 p-1">
        <div class="card shadow-lg">
            @if (product.PhotoLink.Length == 0)
            {
                <img class="card-img-top" src="~/images/empty_image.png" style="height:200px;" alt="Card image cap" />
            }
            else
            {
                <img class="card-img-top" src="@Url.Content(product.PhotoLink)" style="height: 200px;" alt="Card image cap">
            }
            <div class="card-body">
                <h5 class="card-title">@product.ProductName</h5>
                <p class="card-text p-semi">@product.ProductDescription</p>
                <table class="text-left">
                    <tbody>
                        <tr>
                            <td><strong>Price:</strong></td>
                            <td class="float-right">₱@product.ProductPrice</td>
                        </tr>
                        <tr>
                            <td><strong>Quantity per Unit:</strong></td>
                            <td class="float-right">@product.QuantityPerUnit</td>
                        </tr>
                        <tr>
                            <td><strong>Units in Stock:</strong></td>
                            <td class="float-right">@product.UnitsInStock</td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <h5 class="card-title"><strong>Stocks </strong>@product.StockQuantity</h5>
                <a class="btn btn-gold btn-sm"
                   asp-route-productId="@product.ProductId"
                   asp-action="Details"
                   asp-controller="Products">
                    See More <i class="fas fa-info-circle"></i>
                </a>
            </div>
        </div>
    </div>

    
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

}
