@model IEnumerable<ProductViewModel>;
@using FlameAndWax.Data.Constants;
<div class="container-fluid">
    <div class="card p-4">
        <div class="row">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Product ID</th>
                        <th scope="col">Product Image</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Description</th>
                        <th scope="col">Product Price</th>
                        <th scope="col">Quantity Per Unit</th>
                        <th scope="col">Stocks</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var pictureUrl = Constants.BASE_URL_API_IMAGES + item.PictureLink;
                        <tr>
                            <td>@item.ProductId</td>
                            <td>
                                <img src="@pictureUrl" class="circle" />
                            </td>
                            <td>@item.ProductName</td>
                            <td>@item.ProductDescription</td>
                            <td>@item.ProductPrice</td>
                            <td>@item.QuantityPerUnit</td>
                            <td>@item.Stocks</td>
                            <td><button type="button" class="btn btn-primary btn-sm">Edit</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>