<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Flame and Wax</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/fontawesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom navbar-light box-shadow mb-3" style="background-color: #e4e2da" ;>
            <div class="container">
                <a class="navbar-brand" style="color: #a68245; " asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/icons/flameAndWaxLogo.png" width="37" height="30" class="d-inline-block align-top" alt="">
                    Flame And Wax
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Information <i class="fas fa-chevron-down"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-area="" asp-controller="ContactUs" asp-action="Index">Contact Us <i class="fas fa-address-book"></i></a>
                                <a class="dropdown-item" asp-area="" asp-controller="AboutUs" asp-action="Index">About Us <i class="fas fa-info-circle"></i></a>
                            </div>
                        </li>
                    </ul>

                </div>

                <div class="navbar-collapse collapse ">
                    <ul class="navbar-nav ml-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            var userLoggedIn = User.Claims.FirstOrDefault(user => user.Type == ClaimTypes.Name).Value;
                            var totalNumberOfCart = Cart.GetCartItems(userLoggedIn).Count();

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <strong>Welcome!</strong>, @User.Claims.FirstOrDefault(user => user.Type == ClaimTypes.Name).Value <i class="fas fa-user-circle"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item"><i class="fas fa-user-circle" style="margin-left: -10px; margin-right:5px;"></i>View Profile</a>
                                    <a class="dropdown-item" asp-controller="Cart" asp-action="Index"><i class="fas fa-shopping-cart" style="margin-left: -13px; margin-right:5px;"></i>Cart&nbsp;<span class="badge badge-pill badge-warning">@totalNumberOfCart</span></a>
                                    <a class="dropdown-item" asp-controller="Orders" asp-action="Index"><i class="fas fa-clipboard-list" style="margin-left: -10px; margin-right:7px;"></i>Orders</a>
                                    <hr />
                                    <a class="dropdown-item" asp-action="ProcessLogout" asp-controller="Account"><i class="fas fa-sign-out-alt" style="margin-left: -10px; margin-right:5px;"></i>Logout</a>
                                </div>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Login" asp-controller="Account"><i class="fas fa-sign-in-alt"></i> Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark btn btn-gold"> Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">        
        <main role="main" class="pb-4">
            <div id="overlayLoadingDiv" style="display:none;" class="overlayDiv">
                <lottie-player src="https://assets7.lottiefiles.com/datafiles/ORpUnaV6z0mJ17E/data.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer" style="background-color:#e4e2da">
        <div class="jumbotron jumbotron-fluid ">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <picture>
                            <img src="~/images/icons/CandlePhotoFooter.png" class="img-fluid rounded shadow-lg" alt="Responsive image">
                        </picture>
                    </div>
                    <div class="col-md-6 pt-2">
                        <h5>Lets Get in touch</h5>
                        <ul>
                            <li>
                                <img src="~/images/icons/Facebook-removebg-preview.png" class="imageFooter" /><strong>Facebook</strong>: <a href="https://www.facebook.com/FlameandWaxPH13/">FlameandWaxPH13</a>
                            </li>
                            <li>
                                <img src="~/images/icons/Instagram-removebg-preview.png" class="imageFooter" /><strong>Instagram</strong>: <a href="https://www.instagram.com/flameandwax13/">flameandwax13</a>
                            </li>
                            <li>
                                <img src="~/images/icons/Message-removebg-preview.png" class="imageFooter" /><strong>Phone Number</strong>: 0919-310-2347
                            </li>
                            <li>
                                <img src="~/images/icons/Gmail-removebg-preview.png" class="imageFooter" /><strong>Gmail</strong>: lianne.dalde.9@gmail.com
                            </li>
                            <li>
                                <img src="~/images/icons/Messenger-removebg-preview.png" class="imageFooter" /><strong>Messenger</strong>: flameandwax
                            </li>
                        </ul>
                    </div>
                </div>
                <hr />
                <p class="text-muted text-center">2021 | All Rights Reserved</p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src=@("https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
