@model IEnumerable<OrderViewModel>;
@{
    var dropDownId = 0;
}

@{
    var totalCount = (int)ViewData["OrderCount"];
    var orderStatus = ViewData["OrderStatus"];
}
<div class="row mt-2">
    <div class="col-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @for (int i = 1; i <= totalCount; i++)
                {
                    <li class="page-item"><a class="page-link" asp-controller="Orders" asp-route-orderStatus="@orderStatus"
                        asp-action="PageOrders" asp-route-pageNumber="@i" data-ajax="true" data-ajax-loading="#loader"
                        data-ajax-update="#ordersPanel" data-ajax-success="scrollUp">@i</a></li>
                }
            </ul>
        </nav>
    </div>
</div>

<div class="row" id="orderCards" style="display: none;">
    @foreach (var order in Model)
    {
        dropDownId++;
        <div class="col-12 mb-2">
            <div class="card card0 p-3">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex justify-content-end">
                            <div class="mr-auto p-2">
                                <h4>Order ID: @order.OrderId</h4>
                            </div>
                            <div class="p-2"><b>Date Ordered:&nbsp;</b>@order.Date</div>
                        </div>
                        <hr />
                        <div class="row p-2">
                            <div class="col-lg-6">
                                <table>
                                    <tbody>

                                        <tr>
                                            <td><b>Mode of payment: </b></td>
                                            <td>@order.ModeOfPayment</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <b>Courier:</b>
                                            </td>
                                            <td>@order.Courier</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Status:</b>
                                            </td>
                                            @await Html.PartialAsync("PillPartial", @order.Status)
                                        </tr>
                                        <tr>
                                            <td><b>Mode Of Payment: </b></td>
                                            <td>@order.ModeOfPayment.ToString()</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row m-2 justify-content-end">
                            <a class="btn btn-gold" data-toggle="collapse" href="#collapseExample_@dropDownId" role="button"
                            aria-expanded="false" aria-controls="collapseExample">See more <i
                                class="fas fa-chevron-circle-down"></i></a>
                        </div>
                    </div>

                    <div class="collapse p-1 col-lg-12" id="collapseExample_@dropDownId">
                        <hr />
                        <div class="card card-body" style="background-color: #D3D3D3; border:none;">
                            <table class="table table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <td style="width: 50%; " class="hideColumnPhoneSize"><b>Picture</b></td>
                                        <td style="width: auto;"><b>Product Name</b></td>
                                        <td style="width: auto;"><b>Quantity Ordered</b></td>
                                        <td style="width: auto;"><b>Status</b></td>
                                        <td style="width: auto;"><b>Subtotal Price</b></td>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var orderDetail in order.OrderDetails)
                                    {
                                        <tr>
                                            <td class="hideColumnPhoneSize">
                                                <div class="col-3"><img src="@Url.Content(orderDetail.ProductPictureLink)"
                                                class="img-thumbnail img-fluid" /></div>
                                            </td>
                                            <td>@orderDetail.ProductId</td>
                                            <td class="text-center"> @orderDetail.ProductQuantityOrdered</td>

                                            @await Html.PartialAsync("PillPartial", @orderDetail.Status)
                                            
                                            <td class="text-right">@orderDetail.SubTotalPrice</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr />
                        <div class="alert alert-success" role="alert">
                            <h5 class="text-right"><b>Total Cost: @order.TotalCost</b></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="row mt-2">
    <div class="col-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @for (int i = 1; i <= totalCount; i++)
                {
                    <li class="page-item"><a class="page-link" asp-controller="Orders" asp-route-orderStatus="@orderStatus"
                        asp-action="PageOrders" asp-route-pageNumber="@i" data-ajax="true" data-ajax-loading="#loader"
                        data-ajax-update="#ordersPanel" data-ajax-success="scrollUp">@i</a></li>
                }
            </ul>
        </nav>
    </div>
</div>