@model IEnumerable<FlameAndWax.Models.ProductViewModel>;
<div class="row">
    @if (Model == null)
    {
        return;
    }
    @foreach (var product in Model)
    {
        <div class="col-md-6 col-lg-4 p-1">
            <div class="card shadow-lg">

                <div class="card-img">
                    <div class="productImage">
                        <div class="img-wrapper">
                            <a class="thumb">
                                <img src="@Url.Content(product.PhotoLink)">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <a class="badge badge-danger text-white">New Arrivals <i class="fab fa-hotjar"></i></a>
                    <h5 class="card-title">@product.ProductName</h5>
                    <p class="card-text p-semi">@product.ProductDescription</p>
                    <hr />
                    <a asp-controller="Home" asp-action="SeeMore" asp-route-id="@product.ProductId"
                    class="btn btn-gold btn-sm mr-2 float-left">See
                        More <i class="fas fa-info-circle"></i></a>
                    <a class="btn btn-gold btn-sm float-right" asp-route-_productId="@product.ProductId"
                    asp-action="AddToCart" asp-controller="Products" data-ajax="true" id="addtoCartBtn"
                    data-ajax-loading="#cartLoading" data-ajax-success="updateAddToCartTotalCount"
                    data-ajax-complete="addToCart">
                        Add <i class="fas fa-cart-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    }
</div>