@model IEnumerable<FlameAndWax.Models.CustomerReviewViewModel>;
<div class="row">
    @if (Model == null)
    {
        return;
    }
    @foreach (var comment in Model)
    {
        var reviewScoreNumber = (int)comment.ReviewScore;
        <div class="col-md-6 col-lg-4 p-1">
            <div class="card shadow-lg">
                <div class="card-img">
                    <div class="productImage">
                        <div class="img-wrapper">
                            <a class="thumb">
                                <img src="@Url.Content(comment.ProductPictureLink)">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <span class="badge badge-warning text-white">Top Comment <i class="fab fa-hotjar"></i></span>
                    <h6 class="float-right"><b>Date:</b> Add Date here</h6>
                    <hr />
                    <img src="@Url.Content(comment.Customer.ProfilePictureLink)" class="circle">
                    <h6><b>From:</b> @comment.Customer.CustomerName</h6>
                    <h6><b>Review Score:</b> @comment.ReviewScore</h6>
                    <h6><b>@reviewScoreNumber/5</b></h6>
                    <hr />
                    <div class="card-footer">
                        <p class="card-text p-semi">@comment.ReviewDetail</p>
                    </div>
                </div>


            </div>
        </div>
    }
</div>