@model IEnumerable<FlameAndWax.Models.OrderViewModel>;
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Orders List</h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12 mb-2">
            <h3>Filter&nbsp;</h3>
            <div class="dropdown">
                <button class="btn dropdown-toggle btn-gold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category <i class="fas fa-caret-square-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" onclick="update('Finished');" asp-action="Sort" asp-controller="Orders" asp-route-status="@nameof(Constants.OrderStatus.Finished)" data-ajax="true" data-ajax-update="#ordersPanel" data-ajax-loading="#loader">Finished</a>
                    <a class="dropdown-item" onclick="update('Pending');" asp-action="Sort" asp-controller="Orders" asp-route-status="@nameof(Constants.OrderStatus.Pending)" data-ajax="true" data-ajax-update="#ordersPanel" data-ajax-loading="#loader">Pending</a>
                    <a class="dropdown-item" onclick="update('Shipping');" asp-action="Sort" asp-controller="Orders" asp-route-status="@nameof(Constants.OrderStatus.Shipping)" data-ajax="true" data-ajax-update="#ordersPanel" data-ajax-loading="#loader">Shipping</a>
                    <a class="dropdown-item" onclick="update('Processing');" asp-action="Sort" asp-controller="Orders" asp-route-status="@nameof(Constants.OrderStatus.Processing)" data-ajax="true" data-ajax-update="#ordersPanel" data-ajax-loading="#loader">Processing</a>
                    <a class="dropdown-item" onclick="update('Cancelled');" asp-action="Sort" asp-controller="Orders" asp-route-status="@nameof(Constants.OrderStatus.Cancelled)" data-ajax="true" data-ajax-update="#ordersPanel" data-ajax-loading="#loader">Cancelled</a>
                </div>
            </div>
            <div class="spinner-border ml-2" role="status" id="loader" style="display:none;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <hr />
    <div id="ordersPanel">
        @await Html.PartialAsync("OrdersPartialView", Model);
    </div>
</div>