@model IEnumerable<FlameAndWax.Models.OrderViewModel>;
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Orders List</h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12 mb-2">
            <h3>Filter&nbsp;</h3>
            <div class="dropdown">
                <button class="btn dropdown-toggle btn-gold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category <i class="fas fa-caret-square-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" onclick="update('Finished');">Finished</a>
                    <a class="dropdown-item" onclick="update('Pending');">Pending</a>
                    <a class="dropdown-item" onclick="update('Shipping');">Shipping</a>
                    <a class="dropdown-item" onclick="update('Cancelled');">Cancelled</a>
                    <a class="dropdown-item" onclick="update('Processing');">Processing</a>
                </div>
            </div>
            <div class="spinner-border ml-2" role="status" id="loader" style="display:none;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <hr />
    @{
        var dropDownId = 0;
    }
    @foreach (var order in Model)
    {
        dropDownId++;
        <div class="row mb-2">
            <div class="col-12">
                <div class="card card0 p-3">

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="d-flex justify-content-end">
                                <div class="mr-auto p-2"> <h4>Order ID: @order.OrderId</h4></div>
                                <div class="p-2"><b>Date Ordered:&nbsp;</b>@order.Date</div>
                            </div>

                            <hr />
                            <div class="row p-2">
                                <div class="col-lg-6">
                                    <table>
                                        <tbody>
                                            <!-- Mode of Payment -->
                                            <tr>
                                                <td><b>Mode of payment: </b></td>
                                                <td>@order.ModeOfPayment</td>
                                            </tr>
                                            <!-- Courier -->
                                            <tr>
                                                <td>
                                                    <b>Courier:</b>
                                                </td>
                                                <td>@order.Courier</td>
                                            </tr>
                                            <!-- Order Status -->
                                            <tr>
                                                <td>
                                                    <b>Status:</b>
                                                </td>
                                                @{
                                                    switch (order.Status)
                                                    {
                                                        case Constants.OrderStatus.Pending:
                                                            <td> <span class="badge badge-pill badge-info">@order.Status.ToString()&nbsp;<i class="fas fa-spinner"></i></span></td>
                                                            break;
                                                        case Constants.OrderStatus.Finished:
                                                            <td> <span class="badge badge-pill badge-success">@order.Status.ToString()&nbsp;<i class="fas fa-check-circle"></i></span></td>
                                                            break;
                                                        case Constants.OrderStatus.Processing:
                                                            <td> <span class="badge badge-pill badge-warning">@order.Status.ToString()&nbsp;<i class="fas fa-angle-double-right"></i></span></td>
                                                            break;
                                                        case Constants.OrderStatus.Shipping:
                                                            <td> <span class="badge badge-pill badge-primary">@order.Status.ToString()&nbsp;<i class="fas fa-shipping-fast"></i></span></td>
                                                            break;
                                                        case Constants.OrderStatus.Cancelled:
                                                            <td> <span class="badge badge-pill badge-secondary">@order.Status.ToString()&nbsp;<i class="fas fa-times-circle"></i></span></td>
                                                            break;
                                                        default:
                                                            throw new NotImplementedException();
                                                            break;
                                                    }
                                                }
                                            </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                            <div class="row m-2 justify-content-end">
                                <a class="btn btn-gold" data-toggle="collapse" href="#collapseExample_@dropDownId" role="button" aria-expanded="false" aria-controls="collapseExample">See more <i class="fas fa-chevron-circle-down"></i></a>
                            </div>
                        </div>

                        <div class="collapse p-1 col-lg-12" id="collapseExample_@dropDownId">
                            <hr />
                            <div class="card card-body" style="background-color: #D3D3D3; border:none;">
                                <table class="table table-hover table-responsive">
                                    <thead>
                                        <tr>
                                            <td style="width: 50%; " class="hideColumnPhoneSize"><b>Picture</b></td>
                                            <td style="width: auto;"><b>Product Name</b></td>
                                            <td style="width: auto;"><b>Quantity Ordered</b></td>
                                            <td style="width: auto;"><b>Status</b></td>
                                            <td style="width: auto;"><b>Subtotal Price</b></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var orderDetail in order.OrderDetails)
                                        {
                                            <tr>
                                                <td class="hideColumnPhoneSize">
                                                    <div class="col-3"><img src="@Url.Content(orderDetail.ProductPictureLink)" class="img-thumbnail img-fluid" /></div>
                                                </td>
                                                <td>@orderDetail.ProductId</td>
                                                <td class="text-center"> @orderDetail.ProductQuantityOrdered</td>
                                                @switch (orderDetail.Status)
                                                {
                                                    case Constants.OrderStatus.Pending:
                                                        <td> <span class="badge badge-pill badge-info">@orderDetail.Status.ToString()&nbsp;<i class="fas fa-stopwatch"></i></span></td>
                                                        break;
                                                    case Constants.OrderStatus.Processing:
                                                        <td> <span class="badge badge-pill badge-warning">@orderDetail.Status.ToString()&nbsp;<i class="fas fa-cogs"></i></span></td>
                                                        break;
                                                    case Constants.OrderStatus.Shipping:
                                                        <td> <span class="badge badge-pill badge-primary">@orderDetail.Status.ToString()&nbsp;<i class="fas fa-shipping-fast"></i></span></td>
                                                        break;
                                                    case Constants.OrderStatus.Finished:
                                                        <td> <span class="badge badge-pill badge-success">@orderDetail.Status.ToString()&nbsp;<i class="fas fa-check-circle"></i></span></td>
                                                        break;
                                                    case Constants.OrderStatus.Cancelled:
                                                        <td> <span class="badge badge-pill badge-danger">@orderDetail.Status.ToString()&nbsp;<i class="fas fa-times-circle"></i></span></td>
                                                        break;
                                                    default:
                                                        throw new NotImplementedException();
                                                }
                                                <td class="text-right">@orderDetail.SubTotalPrice</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>


                            </div>

                        </div>



                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr />
                            <div class="alert alert-success" role="alert">
                                <h5 class="text-right"><b>Total Cost: @order.TotalCost</b></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>